<a href="https://colab.research.google.com/github/Ment1984/zarouali-ment-khoualha/blob/main/SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (3.14.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.1.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 50.6 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [4]:
%load_ext sql

In [5]:
%sql

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [8]:
!pip install -q pandas

In [9]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [11]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [12]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [13]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine('sqlite:///my_data1.db')

# SQL query to get the 5 records
query = '''SELECT * FROM SPACEXTBL
           WHERE "Launch_Site" LIKE 'CCA%'
           LIMIT 5;'''

# Execute the query and fetch the result
result = pd.read_sql(query, engine)

# Display the result
print(result)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Query to check distinct values in Mission_Description
query_mission_desc = 'SELECT DISTINCT "Mission_Description" FROM SPACEXTBL'
mission_desc = pd.read_sql(query_mission_desc, engine)
print(mission_desc)

# Query to check distinct values in Launch_Site
query_launch_site = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'
launch_site = pd.read_sql(query_launch_site, engine)
print(launch_site)

  "Mission_Description"
0   Mission_Description
    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

In [31]:
%sql SELECT MIN("Date") AS first_successful_landing_date
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (ground pad)';

SyntaxError: invalid syntax (<ipython-input-31-7896cecef690>, line 2)

In [32]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to the SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Query to get the first successful landing date
query = '''SELECT MIN("Date") AS first_successful_landing_date
           FROM SPACEXTBL
           WHERE "Landing_Outcome" = 'Success (ground pad)';'''

# Execute the query and store the result
result = pd.read_sql(query, engine)

# Print the result
print(result)

  first_successful_landing_date
0                    2015-12-22

In [37]:
# Reload the dataset and skip the first row if it's a duplicate header
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv", skiprows=1)

# Verify the data
print(df.head())

   2010-06-04  18:45:00  F9 v1.0  B0003  CCAFS LC-40  \
0  2010-12-08  15:43:00  F9 v1.0  B0004  CCAFS LC-40
1  2012-05-22   7:44:00  F9 v1.0  B0005  CCAFS LC-40
2  2012-10-08   0:35:00  F9 v1.0  B0006  CCAFS LC-40
3  2013-03-01  15:10:00  F9 v1.0  B0007  CCAFS LC-40
4  2013-09-29  16:00:00  F9 v1.1  B1003  VAFB SLC-4E

                Dragon Spacecraft Qualification Unit    0        LEO  \
0  Dragon demo flight C1, two CubeSats, barrel of...    0  LEO (ISS)
1                              Dragon demo flight C2  525  LEO (ISS)
2                                       SpaceX CRS-1  500  LEO (ISS)
3                                       SpaceX CRS-2  677  LEO (ISS)
4                                           CASSIOPE  500  Polar LEO

            SpaceX  Success   Failure (parachute)
0  NASA (COTS) NRO  Success   Failure (parachute)
1      NASA (COTS)  Success            No attempt
2       NASA (CRS)  Success            No attempt
3       NASA (CRS)  Success            No attempt
4              MDA  Success  Uncontrolled (ocean)

In [41]:
query = '''SELECT DISTINCT "Booster_Version"
           FROM SPACEXTBL
           WHERE "Landing_Outcome" = 'Success (drone ship)'
           AND "Payload_Mass(kg)" > 4000
           AND "Payload_Mass(kg)" < 6000;'''

result = pd.read_sql(query, engine)
print(result)

Empty DataFrame
Columns: ["Booster_Version"]
Index: []

In [42]:
print(df["Landing_Outcome"].unique())

KeyError: 'Landing_Outcome'

In [44]:
print(df.columns)

Index(['2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40',
       'Dragon Spacecraft Qualification Unit', '0', 'LEO', 'SpaceX', 'Success',
       'Failure (parachute)'],
      dtype='object')

In [45]:
# Load the dataset again with the first row as the header
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv", header=0)

# Display the columns and first few rows to ensure it's loaded properly
print(df.columns)
print(df.head())

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')
         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

In [46]:
# Filter data for success in drone ship and payload mass between 4000 and 6000 kg
df_filtered = df[(df['Landing_Outcome'] == 'Success (drone ship)') &
                 (df['PAYLOAD_MASS__KG_'] > 4000) &
                 (df['PAYLOAD_MASS__KG_'] < 6000)]

# List the booster versions
boosters = df_filtered['Booster_Version'].unique()

# Display the boosters
print(boosters)

['F9 FT B1022' 'F9 FT B1026' 'F9 FT  B1021.2' 'F9 FT  B1031.2']

In [48]:
# Group by "Mission_Outcome" and count the occurrences
mission_outcomes = df['Mission_Outcome'].value_counts()

# Display the result
print(mission_outcomes)

Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

In [52]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('your_database.db')  # Replace 'your_database.db' with your actual database path
cursor = conn.cursor()

# Define the SQL query
query = """
SELECT
    CASE
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS Month_Name,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM
    SPACEXTBL
WHERE
    substr(Date, 0, 5) = '2015' AND
    "Landing_Outcome" = 'Failure (drone ship)';
"""

# Execute the query
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Convert results to a DataFrame (optional, for better readability)
import pandas as p

OperationalError: no such table: SPACEXTBL

In [53]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[]

In [54]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS SPACEXTBL (
        Date TEXT,
        Time TEXT,
        Booster_Version TEXT,
        Launch_Site TEXT,
        Payload TEXT,
        Payload_Mass_kg INTEGER,
        Orbit TEXT,
        Customer TEXT,
        Mission_Outcome TEXT,
        Landing_Outcome TEXT
    );
''')

# Insert some sample data (replace with actual data loading steps)
cursor.execute('''
    INSERT INTO SPACEXTBL (Date, Time, Booster_Version, Launch_Site, Payload, Payload_Mass_kg, Orbit, Customer, Mission_Outcome, Landing_Outcome)
    VALUES ('2010-06-04', '18:45:00', 'F9 v1.0 B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)');
''')

# Commit and check the tables again
connection.commit()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

NameError: name 'connection' is not defined

In [56]:
  SELECT BoosterVersion, LaunchSite, LandingOutcome
        FROM SpaceX
        WHERE LandingOutcome LIKE 'Failure (drone ship)'
            AND Date BETWEEN '2015-01-01' AND '2015-12-31'
        '''
create_pandas_df(task_9, database=conn)

SyntaxError: unterminated triple-quoted string literal (detected at line 6) (<ipython-input-56-2f278b3dd07f>, line 5)

In [57]:
task_9 = '''
        SELECT BoosterVersion, LaunchSite, LandingOutcome
        FROM SpaceX
        WHERE LandingOutcome LIKE 'Failure (drone ship)'
            AND Date BETWEEN '2015-01-01' AND '2015-12-31'
        '''
create_pandas_df(task_9, database=conn)

NameError: name 'create_pandas_df' is not defined

In [58]:
import sqlite3
import pandas as pd

# Establish a connection to your SQLite database (replace with your actual database file)
conn = sqlite3.connect('your_database.db')

# Define the SQL query for Task 9
task_9 = '''
    SELECT Booster_Version, Launch_Site, Landing_Outcome
    FROM SPACEXTBL
    WHERE Landing_Outcome LIKE 'Failure (drone ship)'
        AND substr(Date, 1, 4) = '2015'
'''

# Create a pandas DataFrame by executing the query
df_task_9 = pd.read_sql_query(task_9, conn)

# Display the resulting DataFrame
print(df_task_9)

# Close the database connection
conn.close()

Empty DataFrame
Columns: [Booster_Version, Launch_Site, Landing_Outcome]
Index: []